
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}
body{
    font-size: 1rem;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.9),rgb(9, 11, 15));
    gap: 20px;
    align-items: center;
    height: 100vh;
}

button{
    width: 400px;
    padding: 17px;
    cursor: pointer;
    outline: none;
    border: 0;
    transition: .2s;
    background: royalblue;
    color: #Fff;
    border-radius: 5px;
    font-size: 16px;
}

button:hover{
    color: rgba(255,255,255,0.8);
}

#show{
    color: #fff;
    transform: translateY(-100px);
    opacity: 0;
    transition: opacity .50s , transform .50s cubic-bezier(.25,.75,.5,1.25);
}

#show.toggle-name{
    transform: translateY(0);
    opacity: 1;
}

input{
    width: 400px;
    padding: 14px 15px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 16px;
    border-radius: 5px;
}

::placeholder{
    color: rgba(0,0,0,0.5);
}

@media (max-width: 500px){
    button,input{
        width: 90%;
        padding: 15px;
    }
}